body {
    padding-top: 0px;
}
body>.navbar {
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent !important
    }
}

/* HOME PAGE */
#home {
    padding-top: 0;
}
#home .navbar-brand {
    padding: 13.5px 15px 12.5px;
}
#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}
#head-container.head-container{
    overflow: hidden;
}
#banner {
    min-height: 650px;
    border-bottom: none;
    background: 0;
    background-image: linear-gradient(45deg,rgb(4, 138, 209)   0,rgb(16, 147, 178) 40%,rgb(11, 175, 188)  70%,#2fa9a7 100%);
    background-repeat: repeat-x;
    border: 0;
    box-shadow: none;
    color: #fff;
    padding: 98px 0 98px 0;
}
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
}
#banner h1 {
    color: #fff;
    letter-spacing: 5px;
}
#banner .row {
    margin: 50px 0 0 0;
}
.table-of-contents {
    margin-top: 1em;
}

.page-header h1 {
    font-size: 4em;
}
.header-partials {
    margin-top: -250px;
    color:#fff;
    font-weight: 200;
}
.header-partials h2 {
    color: #f5f5f5;
    font-weight: 100;
}
.header-partials h2 {
    color: #f5f5f5;
    font-weight: 100;
    border-top: 7px solid yellowgreen;
    padding-top: 40px;
    margin-right: 20px;
}
.header-partials h2.orange {
    border-color: deepskyblue;
}
.header-partials h2.teal {
    border-color: teal;
}
.bs-docs-section h1 {
    padding-top: 100px;
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
#products .row {
    margin-bottom: 40px;
}
#products .row .col-text {
    max-height: 235px;
    overflow: hidden;
}
#about h1 {
    padding-top: 40px;
}
/* Contacts block */
em.contact-form-header {
    margin-bottom: 120px;
    margin-top: 40px;
}
.row.contact {
    margin-top: 40px;
    padding-bottom: 120px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0px;
}
.row.contact .col-lg-4 {}
.row.contact div {}

/* Footer */
footer {
    margin: 1em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}
/*
.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.splash .logo {
    width: 160px;
}

.splash h1 {
    font-size: 3em;
}

.splash #social {
    margin: 2em 0;
}

.splash .alert {
    margin: 2em 0;
}*/

/*.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #eaf1f1
}

.section-tout .fa {
    margin-right: .5em
}

.section-tout p {
    margin-bottom: 3em
}*/

/*.section-preview {
    padding: 4em 0 4em
}

.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1
}

.section-preview .preview .image {
    position: relative
}

.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none
}*/

/*.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top: none;
    text-align: center
}

.section-preview .preview .options p {
    margin-bottom: 2em
}

.section-preview .dropdown-menu {
    text-align: left
}

.section-preview .lead {
    margin-bottom: 2em
}*/

@media (max-width:767px) {
    /*.section-preview .image img {
        width: 100%
    }*/
}
/*.sponsor {
    text-align: center
}
.sponsor a:hover {
    text-decoration: none
}*/

@media (max-width:767px) {
/*    .splash {
        padding-top: 4em
    }
    .splash .logo {
        width: 100px
    }
    .splash h1 {
        font-size: 2em
    }*/
    #banner {
        margin-bottom: 2em;
        text-align: center
    }
}


/* Navbar */
.navbar {
    background: none;
    border: none;
    padding: 20px 0;
    box-shadow: none;
}
.navbar-container {
    padding: 20px 0 20px 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-shadow: none;
    font-weight: 200;
}
.navbar-default .navbar-right>li>a  {
    font-size: 13px;
}
.navbar-default .navbar-right>li>a.active  {
    font-weight: 400;
    padding: 15px;
    background: rgb(168, 212, 4);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-weight: 400;
}
.navbar-default .navbar-brand {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 5px;
    color:#fff;
}
.navbar-default .navbar-brand strong {
    font-weight: 600;
    letter-spacing: normal;
    color: #333;
    padding-right: 3px; 
}
.panel {
    padding: 0;
}

/* Fixed Navbar */
nav.fixed-theme {
    padding: 0;
}
.navbar.navbar-fixed-top.fixed-theme, .page--lecithin .navbar {
    background: none;
    background-image: -webkit-gradient(linear,0% top,100% top,from(#14baec),to(#2fa9a7));
    background-image: -webkit-linear-gradient(left,color-stop(#14baec 0),color-stop(#2fa9a7 100%));
    background-image: -moz-linear-gradient(left,#14baec 0,#2fa9a7 100%);
    background-image: linear-gradient(to right,#14baec 0,#2fa9a7 100%);
    background-repeat: repeat-x;
    border: 0;
    box-shadow: 0 1px 3px 3px rgba(98, 98, 95, 0.5);
    color: #fff;
}

.navbar-brand.fixed-theme,  .navbar.fixed-theme li a  {
    font-size: 16px;
    font-weight: 200;
}
.navbar.fixed-theme .navbar-right li a  {
    font-size: 12px;
}
 .navbar.fixed-theme .navbar-nav > li > a,.navbar.fixed-theme strong  {
    color: #fff;
}
.navbar-container.fixed-theme {
    padding: 0;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}
.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}
.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: #dd5600; }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(72, 100%, 41%); }
.element-item.actinoid        { background: #0F0; background: #73a839; }
.element-item.transition      { background: #0F8; background: hsl(144, 83%, 40%); }
.element-item.post-transition { background: #0FF; background: #317eac; }
.element-item.metalloid       { background: #08F; background: hsl(188, 100%, 51%); }
.element-item.diatomic        { background: #00F; background: hsl(204, 97%, 23%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl(277, 97%, 34%); }

/* Color Circles Background */
  .page--home .section--home-test-A .bgCircle--home-a {
    background: linear-gradient(-225deg, #a177ff 0%, #FF6D92 100%);
  }
  .page--home .section--home-test-A .bgCircle--home-b {
    background: linear-gradient(155deg, #02CEFF 0%, #3bf7d1 60%, #3bf7d1 100%);
  }
  .page--home .section--home-test-A .bgCircle--home-c {
    background: linear-gradient(-45deg, #FC636B 0%, #FF6D92 60%, #ffb900 100%);
  }

/* PAGE LECITHIN */
.page--lecithin #banner {
    min-height: 400px;
    background-image: linear-gradient(45deg,rgba(4, 138, 209, 0.4)   0,rgb(16, 147, 178) 40%,rgba(11, 175, 188, 0.8)  70%,rgba(47, 169, 167, 0.4) 100%),url(lecithin.png);
    background-size: contain;
    padding: 98px 0 0px 0;
}


/* PAGE SCIENSE */
.page--science {
    
}