body {
    padding-top: 0px;
}
body>.navbar {
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent;
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent !important;
    }
}
.m-t-80 {
    margin-top: 80px;
}
.m-t-40 {
    margin-top: 40px;
}
/* HOME PAGE */
#home {
    padding-top: 0;
}
.navbar-brand {
    padding: 13.5px 15px 12.5px;
}
.navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}
#head-container.head-container{
    overflow: hidden;
}
#banner {
    min-height: 650px;
    border-bottom: none;
    background: 0;
    background-image: linear-gradient(#0d8d99, #0d7799 60%, #0d5b99);
    background-image: linear-gradient(90deg, rgb(41, 128, 185) 24%, rgb(22, 160, 133) 100%);
    background-image: -moz-linear-gradient(left, rgb(41, 128, 185) 24%, rgb(22, 160, 133) 100%);
    background-image: -webkit-linear-gradient(left, rgb(41, 128, 185) 24%, rgb(22, 160, 133) 100%);
    background-image: -o-linear-gradient(left, rgb(41, 128, 185) 24%, rgb(22, 160, 133) 100%);
    background-image: -ms-linear-gradient(left, rgb(41, 128, 185) 24%, rgb(22, 160, 133) 100%);
    /*background-image: linear-gradient(45deg,rgb(4, 138, 209)   0,rgb(16, 147, 178) 40%,rgb(11, 175, 188)  70%,#2fa9a7 100%);*/
    background-repeat: repeat-x;
    border: 0;
    box-shadow: none;
    color: #fff;
    padding: 98px 0 98px 0;
}
/**/
/**/
/**/
/* TEST UI DESIGN */
/* For index1.html */
.pink-gradient {
    background: #ca2091;
    background: -moz-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0, #ca2091), color-stop(20%, #a041fa), color-stop(50%, #3f65fb), color-stop(80%, #0fcbfa), color-stop(100%, #0fe6fa));
    background: -webkit-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
    background: -o-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
    background: -ms-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
    background: linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
}
.violet-gradient {
    color: #fff;
    background: #0d5b99;
    background: #317eac;
    background: linear-gradient(-30deg, #0a6d77, #0d7799 60%, #0d5b99);
    background: #028bb8; /* New blue to try */
}
.violet-gradient h1,
.violet-gradient h3,
.violet-gradient h4,
.violet-gradient p {
    color: #f5f5f5;
    font-weight: 100;
}
#sens .page-content .row div {
    font-weight: 100;
    margin-bottom: 40px; 
}
#sens h1 {
    font-weight: 500;
    margin: 50px 0;
    /*font-family: 'Proxima Nova';*/
}
#sens .fa {
    margin-right: 15px;
    font-size: 24px;
}
#sens h4 {
    /*margin-top: 10px;
    white-space: nowrap;*/
    font-size: 24px;
}
#sens p {
    letter-spacing: .6px;
}
#sens .row:last-child {
    margin-bottom: 40px;
}


/**/
.icon-style2 {
    font-size: 70px;
    color: #2DAEBF;
    text-shadow: 0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}
.icon-style1 {
    font-size: 70px;
    color: #B8D30B;
}
.icon-style3 {
    font-size: 70px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);
    color: #A9014B;
}
/**/

.salat-header {
    /*background-color: #a2c02e;*/
}   
.violet-header {
    /*background-color: #6042a3;*/
}
.blue-header {
    /*background-color: deepskyblue;*/
}
.salat-header,.violet-header,.blue-header {
    min-height: 250px;
}
    
#banner h1 abbr {
    font-size: 1em;
    font-weight: 100
}
/* End of TEST */
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    z-index: 0;
}
#banner h1 {
    color: #fff;
    letter-spacing: 7px;

    font-family: 'Lucida Grande',Lato,Roboto,'Open Sans',Helvetica,Arial,sans-serif;
    font-variant: small-caps;
    text-transform: uppercase;
}
#banner .row {
    margin: 40px 0 0 0;
}
table {
    margin: 0 auto;
}
.table-of-contents {
    margin-top: 1em;
}

.page-header h1 {
    font-size: 4em;
}
.header-partials {
    margin-top: -250px;
    color:#fff;
    font-weight: 200;
}
.header-partials h2 {
    color: #fff;
    font-weight: 200;
    border-top: 7px solid yellowgreen;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 1.5em;
}
.header-partials h2.orange {
    border-color: deepskyblue;
}
.header-partials h2.teal {
    border-color: #6042a3;
}
.bs-docs-section h1 {
    padding-top: 100px;
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
#products .row {
    margin-bottom: 40px;
}
#products .row .col-text {
    max-height: 235px;
    overflow: hidden;
}
#about h1 {
    padding-top: 40px;
}
/* Contacts block */
em.contact-form-header {
    margin-bottom: 120px;
    margin-top: 40px;
}
.row.contact {
    margin-top: 40px;
    padding-bottom: 0px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0px;
}
.row.contact .col-lg-4 {}
.row.contact div {}

/* Footer */
footer {
    margin: 1em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

@media (max-width:767px) {
    .header-partials h2 {
        font-size: 18px;
        padding-top: 20px;
    }
    .header-partials {
        font-size: 14px;
    }
    .bs-docs-section h1 {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    #banner {
        margin-bottom: 2em;
        text-align: center
    }
}

/* Navbar */
.navbar {
    background: none;
    border: none;
    padding: 20px 0;
    box-shadow: none;
}
.navbar-container {
    padding: 20px 0 20px 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-shadow: none;
    font-weight: 200;
}
.navbar-default .navbar-right>li>a  {
    font-size: 13px;
}
.navbar-default .navbar-right>li>a.active,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
    padding: 15px;
    border: none;
    text-decoration: underline;
}
.navbar-default .navbar-brand {
    font-weight: 200;
    letter-spacing: 5px;
    color:#fff;
    padding-top: 0px;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0;
}
nav .navbar-brand img {
    max-height: 50px;
    float: left;
}
nav .navbar-brand span {
    padding: 5px 15px;
    float: left;
    display: none;
}
.navbar-default .navbar-brand strong {
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    padding-right: 3px; 
}
.panel {
    padding: 0;
}
/* Fixed Navbar */
nav.fixed-theme {
    padding: 0;
}
nav.fixed-theme .navbar-brand {
    padding: 5px 15px;
}
nav.fixed-theme .navbar-brand img {
    max-height: 40px;
    float: left;
}
nav.fixed-theme .navbar-brand span {
    padding: 10px 15px;
    float: left;
    display: block;
}
.navbar.navbar-fixed-top.fixed-theme {
    background: none;
    background-image: -webkit-gradient(linear,0% top,100% top,from(#14baec),to(#2fa9a7));
    background-image: -webkit-linear-gradient(left,color-stop(#14baec 0),color-stop(#2fa9a7 100%));
    background-image: -moz-linear-gradient(left,#14baec 0,#2fa9a7 100%);
    background-image: linear-gradient(to right,#1095bd 0,#2fa9a7 100%);
    background-repeat: repeat-x;
    border: 0;
    box-shadow: 0 1px 3px 3px rgba(98, 98, 95, 0.5);
    color: #fff;
}
.navbar-brand.fixed-theme,  .navbar.fixed-theme li a  {
    font-size: 16px;
    font-weight: 200;
}
.navbar.fixed-theme .navbar-right li a  {
    font-size: 12px;
}
 .navbar.fixed-theme .navbar-nav > li > a,.navbar.fixed-theme strong  {
    color: #fff;
}
.navbar-container.fixed-theme {
    padding: 0;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

/* ---- .element-item ---- */
/*.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}
.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}
.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}*/

/*.element-item.alkali          { background: #F00; background: #dd5600; }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(72, 100%, 41%); }
.element-item.actinoid        { background: #0F0; background: #73a839; }
.element-item.transition      { background: #0F8; background: hsl(144, 83%, 40%); }
.element-item.post-transition { background: #0FF; background: #317eac; }
.element-item.metalloid       { background: #08F; background: hsl(188, 100%, 51%); }
.element-item.diatomic        { background: #00F; background: hsl(204, 97%, 23%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl(277, 97%, 34%); }*/

/* Color Circles Background */
/*  .page--home .section--home-test-A .bgCircle--home-a {
    background: linear-gradient(-225deg, #a177ff 0%, #FF6D92 100%);
  }
  .page--home .section--home-test-A .bgCircle--home-b {
    background: linear-gradient(155deg, #02CEFF 0%, #3bf7d1 60%, #3bf7d1 100%);
  }
  .page--home .section--home-test-A .bgCircle--home-c {
    background: linear-gradient(-45deg, #FC636B 0%, #FF6D92 60%, #ffb900 100%);
  }*/

/* PAGE LECITHIN */
.page--lecithin #banner {
    min-height: 400px;
    background-image: linear-gradient(45deg,rgba(4, 138, 209, 0.4)   0,rgb(16, 147, 178) 40%,rgba(11, 175, 188, 0.8)  70%,rgba(47, 169, 167, 0.4) 100%),url(lecithin_graph.png);
    /*background-image: linear-gradient(45deg,rgba(4, 138, 209, 0.4)   0,rgb(16, 147, 178) 40%,rgba(11, 175, 188, 0.8)  70%,rgba(47, 169, 167, 0.4) 100%),url(img/Protein_composite.png);*/
    background-size: contain;
    padding: 98px 0 0px 0;
}


/* PAGE SCIENSE */
.page--science {}
.contact {
    text-align: center;
font-weight: 500;
font-size: 18px;
line-height: 1.5;
}
  #map {
        -webkit-filter: invert();
        opacity: .75;
    }
    iframe {
        width: 100%; 
        float:right;
        height: 400px;
        margin: 0;
        overflow: hidden;
        /*position: absolute;*/
        margin-top: -170px;
        padding: 15px;
        z-index: -1;
    }
    .gm-style .place-card-large {
        display: none;
    }
    .map-text {
        background:#fff;
    }
    #forms {
        background: #fff;
    }
    .map-text {
        padding: 15px;
    }
    .map-text:first-child {
        /*margin-left: -15px;*/
    }
