/* rainbow text */
.visionexpo.animate span {
    -webkit-animation: colorRotate 6s linear 0s infinite;
    -moz-animation: colorRotate 6s linear 0s infinite;
    -o-animation: colorRotate 6s linear 0s infinite;
    animation: colorRotate 6s linear 0s infinite;
    
 /*   -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;*/
}
.visionexpo span {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}
@-webkit-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
@-moz-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
@-o-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
/* end rainbow text */



@font-face {
  font-family: 'jamfont';
  src: url('assets/fonts/icon/jamfont.eot');
  src: url('assets/fonts/icon/jamfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/icon/jamfont.ttf') format('truetype'), url('assets/fonts/icon/jamfont.woff') format('woff'), url('assets/fonts/icon/jamfont.svg#jamfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 * Styles for Icons
 */
.icon {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  color: #252425;
}
.icon:before {
  display: inline-block;
  font-family: 'jamfont';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
  text-indent: 0;
  font-size: 48px;
  line-height: 1;
  vertical-align: baseline;
  speak: none;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zoom,
.icon-cross,
.icon-sort,
.icon-angle-left,
.icon-angle-right,
.icon-caret-up,
.icon-caret-down,
.icon-web,
.icon-walk,
.icon-interactive-film,
.icon-video,
.icon-ux,
.icon-twitter,
.icon-twitter-final,
.icon-arrowup,
.icon-technology,
.icon-tablet,
.icon-strategy,
.icon-storytelling,
.icon-storybook-final,
.icon-social,
.icon-share,
.icon-search,
.icon-installation,
.icon-responsive,
.icon-related,
.icon-projects,
.icon-process,
.icon-phone,
.icon-news,
.icon-more,
.icon-mobile,
.icon-mail,
.icon-info-final,
.icon-ia,
.icon-html5,
.icon-home,
.icon-gplus,
.icon-facebook,
.icon-facebook-final,
.icon-email,
.icon-discovery,
.icon-desktop,
.icon-data-vis,
.icon-craft,
.icon-contact,
.icon-car,
.icon-bus,
.icon-blog,
.icon-bike,
.icon-ttc,
.icon-awards,
.icon-careers,
.icon-analytics,
.icon-all,
.icon-address,
.icon-about,
.icon-angle-up,
.icon-angle-down,
.icon-current-location,
.icon-address-alt,
.icon-phone-2,
.icon-arrow-right,
.icon-briefcase,
.icon-reel,
.icon-pin {
  font-family: 'jamfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-zoom:before {
  content: "\e631";
}
.icon-cross:before {
  content: "\e62f";
}
.icon-pin:before {
  content: "\e610";
}
.icon-sort:before {
  content: "\e61C";
}
.icon-angle-left:before {
  content: "\e62c";
}
.icon-angle-right:before {
  content: "\e62b";
}
.icon-caret-down:before {
  content: "\e62d";
}
.icon-caret-up:before {
  content: "\e62a";
}
.icon-web:before {
  content: "\e623";
}
.icon-walk:before {
  content: "\e622";
}
.icon-interactive-film:before {
  content: "\e620";
}
.icon-ux:before {
  content: "\e003";
}
.icon-twitter:before {
  content: "\e61f";
}
.icon-twitter-final:before {
  content: "\e005";
}
.icon-arrowup:before {
  content: "\e60a";
}
.icon-technology:before {
  content: "\e61b";
}
.icon-tablet:before {
  content: "\e008";
}
.icon-strategy:before {
  content: "\e009";
}
.icon-storytelling:before {
  content: "\e61a";
}
.icon-storybook-final:before {
  content: "\e00b";
}
.icon-social:before {
  content: "\e00c";
}
.icon-share:before {
  content: "\e00d";
}
.icon-search:before {
  content: "\e618";
}
.icon-installation:before,
.icon-responsive:before {
  content: "\e600";
}
.icon-related:before {
  content: "\e615";
}
.icon-projects:before {
  content: "\e601";
}
.icon-process:before {
  content: "\e614";
}
.icon-arrow-right:before {
  content: "\e633";
}
.icon-phone:before {
  content: "\e628";
}
.icon-news:before {
  content: "\e609";
}
.icon-more:before {
  content: "\e621";
}
.icon-mobile:before {
  content: "\e605";
}
.icon-mail:before {
  content: "\e630";
}
.icon-info-final:before {
  content: "\e626";
}
.icon-ia:before {
  content: "\e01a";
}
.icon-html5:before {
  content: "\e01b";
}
.icon-home:before {
  content: "\e625";
}
.icon-careers:before {
  content: "\e635";
}
.icon-gplus:before {
  content: "\e632";
}
.icon-facebook:before {
  content: "\e61d";
}
.icon-facebook-final:before {
  content: "\e01e";
}
.icon-email:before {
  content: "\e01f";
}
.icon-discovery:before {
  content: "\e020";
}
.icon-desktop:before {
  content: "\e021";
}
.icon-data-vis:before {
  content: "\e617";
}
.icon-craft:before {
  content: "\e616";
}
.icon-contact:before {
  content: "\e613";
}
.icon-car:before {
  content: "\e619";
}
.icon-bus:before {
  content: "\e026";
}
.icon-blog:before {
  content: "\e027";
}
.icon-bike:before {
  content: "\e60f";
}
.icon-ttc:before {
  content: "\e61e";
}
.icon-awards:before {
  content: "\e60e";
}
.icon-analytics:before {
  content: "\e02a";
}
.icon-all:before {
  content: "\e607";
}
.icon-address:before {
  content: "\e02c";
}
.icon-current-location:before {
  content: "\e62e";
}
.icon-about:before {
  content: "\e604";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-phone-2:before {
  content: "\e628";
}
.icon-address-alt:before {
  content: "\e60d";
}
.icon-overview:before {
  content: "\e60c";
}
.icon-landscape:before {
  content: "\e606";
}
.icon-briefcase:before {
  content: "\e638";
}
.icon-reel:before {
  content: "\e634";
}
@media (max-width:992px) {
  .icon-projects:before {
    content: "\e602" !important;
  }
  .icon-process:before {
    content: "\e611" !important;
  }
  .icon-about:before {
    content: "\e603" !important;
  }
  .icon-awards:before {
    content: "\e60b" !important;
  }
  .icon-contact:before {
    content: "\e612" !important;
  }
  .icon-news:before {
    content: "\e608" !important;
  }
  .icon-careers:before {
    content: "\e638" !important;
  }
}