body {
    padding-top: 0px;
}
body>.navbar {
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in
}
@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent !important
    }
}
/* GENERAL STYLE */
.m-t-80 {margin-top: 80px;}
.m-t-70 {margin-top: 70px;}
.m-t-40 {margin-top: 40px;}
.m-b-0 {margin-bottom: 0;}
.p-0 {padding: 0;}
.m-0 {margin: 0;}
/*.m-b-40 {
    margin-top: 40px;
}
.m-l-40 {
    margin-top: 40px;
}
.m-r-40 {
    margin-top: 40px;
}*/
/* HOME PAGE */
#home {
    padding-top: 0;
}
#home .navbar-brand {
    padding: 13.5px 15px 12.5px;
}
#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}
.head-container{
    margin-top: -80px;
}
#head-container.head-container{
    overflow: hidden;
}
#banner {
    min-height: 650px;
    border-bottom: none;
    background: 0;
    background-image: linear-gradient(45deg,rgb(4, 138, 209)   0,rgb(16, 147, 178) 40%,rgb(11, 175, 188)  70%,#2fa9a7 100%);
    background-repeat: repeat-x;
    border: 0;
    box-shadow: none;
    color: #fff;
    padding: 98px 0 98px 0;
}
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
}
.page--lecithin #banner h2 {
    color: #fff;
    letter-spacing: 3px;
    font-size: 3.4em;
    font-weight: 600;
    width: 75%;
    margin: 0 auto;
    margin-top: -60px;
}
#banner .row {
    margin: 50px 0 0 0;
}
table {
    margin:0 auto;
}
.table-of-contents {
    margin-top: 1em;
}

.page-header {
    border-bottom: 0;
    margin: 80px 0 20px;
}
.page-header h1 {
    font-size: 4.5em;
}
.page-header abbr {
    font-size: 1.5em;
}
.header-partials {
    margin-top: -250px;
    color:#fff;
    font-weight: 200;
}
.header-partials h2 {
    color: #f5f5f5;
    font-weight: 100;
    border-top: 7px solid yellowgreen;
    padding-top: 40px;
    margin-right: 20px;
}
.header-partials h2 + h2 {
    border-color: orange;
}
.header-partials h2 > h2 {
    border-color: teal;
}
.bs-docs-section {
    padding: 100px 0;
    text-align: center;
    background: #fff;
    overflow: hidden;
}
.bs-docs-section h1 {
    /*padding-top: 100px;*/
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}

.bg-bright-blue {
    background-color:#2AB9C7;
    color:#fff;
}
/* Contacts block */
em.contact-form-header {
    margin-bottom: 120px;
    margin-top: 40px;
}
.row.contact {
    margin-top: 40px;
    padding-bottom: 120px;
    /*border-bottom: 1px dotted #ccc;*/
    margin-bottom: 0px;
}
.row.contact .col-lg-4 {}
.row.contact div {}
/* End of contacts */

/* Footer */
footer {
    margin: 1em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}
footer .fa {
    color: #2fa4e7;
}
/* End of footer */

@media (max-width:767px) {}

@media (max-width:767px) {
    #banner {
        margin-bottom: 2em;
        text-align: center
    }
}

/* Navbar */
.navbar {
    background: none;
    border: none;
    padding: 20px 0;
    box-shadow: none;
}
.navbar-container {
    padding: 20px 0 20px 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-shadow: none;
    font-weight: 200;
}
.navbar-default .navbar-right>li>a  {
    font-size: 13px;
}
.navbar-default .navbar-right>li>a.active,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
    padding: 15px;
    border: none;
    text-decoration: underline;
    background: rgba(5, 165, 215, 0.6);
}
.navbar-default .navbar-brand {
    font-weight: 200;
    letter-spacing: 5px;
    color:#fff;
    padding-top: 0px;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0;
}
nav .navbar-brand img {
    max-height: 35px;
    float: left;
}
nav .navbar-brand img:hover {
    cursor: pointer;
}
nav .navbar-brand span {
    padding: 5px 15px;
    float: left;
    display: none;
}
nav .navbar-brand .back-home {
    display: block;
    text-transform: none;
    font-weight: 400;
    padding: 15px;
}
nav .navbar-brand .back-home:hover {
    text-decoration: underline;
    opacity: .9;
}
.navbar-default .navbar-brand strong {
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    padding-right: 3px; 
}
.panel {
    padding: 0;
}
/* End of Navbar */

/* Fixed Navbar */
nav.fixed-theme {
    padding: 0;
}
nav.fixed-theme .navbar-brand {
    padding: 5px 15px;
}
nav.fixed-theme .navbar-brand img {
    max-height: 40px;
    float: left;
}
nav.fixed-theme .navbar-brand span {
    padding: 10px 15px;
    float: left;
    display: block;
}
nav.fixed-theme .navbar-brand .back-home {
    display: none;
}

.navbar.navbar-fixed-top.fixed-theme {
    background: none;
    background-image: -webkit-gradient(linear,0% top,100% top,from(#14baec),to(#2fa9a7));
    background-image: -webkit-linear-gradient(left,color-stop(#14baec 0),color-stop(#2fa9a7 100%));
    background-image: -moz-linear-gradient(left,#14baec 0,#2fa9a7 100%);
    background-image: linear-gradient(to right,#1095bd 0,#2fa9a7 100%);
    background-repeat: repeat-x;
    border: 0;
    box-shadow: 0 1px 3px 3px rgba(98, 98, 95, 0.5);
    color: #fff;
}

.navbar-brand.fixed-theme,  .navbar.fixed-theme li a  {
    font-size: 16px;
    font-weight: 200;
}
.navbar.fixed-theme .navbar-right li a  {
    font-size: 12px;
}
 .navbar.fixed-theme .navbar-nav > li > a,.navbar.fixed-theme strong  {
    color: #fff;
}
.navbar-container.fixed-theme {
    padding: 0;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
/* End of Fixed Navbar */

/* PERIODIC TABLE ITEMS */
.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}
.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}
.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
.element-item.alkali          { background: #F00; background: #dd5600; }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(72, 100%, 41%); }
.element-item.actinoid        { background: #0F0; background: #73a839; }
.element-item.transition      { background: #0F8; background: hsl(144, 83%, 40%); }
.element-item.post-transition { background: #0FF; background: #317eac; }
.element-item.metalloid       { background: #08F; background: hsl(188, 100%, 51%); }
.element-item.diatomic        { background: #00F; background: hsl(204, 97%, 23%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl(277, 97%, 34%); }
/* End of PERIODIC TABLE ITEMS */

/* Color Circles Background */
  .page--home .section--home-test-A .bgCircle--home-a {
    background: linear-gradient(-225deg, #a177ff 0%, #FF6D92 100%);
  }
  .page--home .section--home-test-A .bgCircle--home-b {
    background: linear-gradient(155deg, #02CEFF 0%, #3bf7d1 60%, #3bf7d1 100%);
  }
  .page--home .section--home-test-A .bgCircle--home-c {
    background: linear-gradient(-45deg, #FC636B 0%, #FF6D92 60%, #ffb900 100%);
  }

svg#Layer_1 {
    margin-bottom: -5px;
}

/* PAGE LECITHIN */
.page--lecithin #banner,
.page--mixins #banner,
.page--science #banner {
    min-height: 420px;
    background-size: contain;
    padding: 98px 0 0px 0;
}
.page--lecithin #banner {
    min-height: 350px;
    background-image: linear-gradient(45deg,rgba(4, 138, 209, 0.4)   0,rgb(16, 147, 178) 40%,rgba(11, 175, 188, 0.8)  70%,rgba(47, 169, 167, 0.4) 100%),url(img/lecithin_graph.png);
}
.page--lecithin .science {
    margin-top: -80px;
}
.page--lecithin .science #banner {
    min-height: 350px;
    /*background-image: linear-gradient(45deg,rgba(4, 138, 209, 0.4)   0,rgba(16, 147, 178, 0.9) 40%,rgba(11, 175, 188, 0.8)  70%,rgba(47, 169, 167, 0.4) 100%),url(img/lab.png);*/
    background-size: cover;
    padding: 120px 0 0px 0;
}
.page--lecithin .row.contact {
    padding-bottom: 0;
    border: 0;
}
.table-dsto table, .table-dsto h3 {
    margin: 40px;
}
.table-dsto table .fa-check {
    color: seagreen;
}
#generalInfo li>a {
    font-size: 14px;
}
#generalInfo {
    font-weight: 400;
    color: #333;
}
#generalInfo span {
    text-indent: 0;
}
#generalInfo li {
    font-weight: 200;
    color: #111;
}
/* PAGE SCIENSE */
.science #banner {
     background-image:linear-gradient(45deg,rgba(4, 138, 209, 0.3) 0,rgba(16, 147, 178,.3) 40%,rgba(11, 175, 188, 0.4) 70%,rgba(47, 169, 167, 0.3) 100%),url(img/lab.png);
    background-size: cover;
    background-position-y: 75%;
    background-blend-mode: overlay;
}
.page--science #banner h1{
     -webkit-filter:none;
}
#partners li {
    list-style: none;
    padding: 15px 0;
    float: left;
    font-weight: 200;
}
#partners li p {
        text-indent: 0;
}
#partners img {
    width: 100px;
}
/* PAGE MIXINS */
.page--mixins #banner {
    background-image: linear-gradient(45deg,rgba(4, 138, 209, 0.3)   0,rgba(16, 147, 178,.4) 40%,rgba(11, 175, 188, 0.4)  70%,rgba(47, 169, 167, 0.3) 100%),url(img/animals.jpg);
    background-size: cover;
    background-position-y: 100%;
}
.page--mixins #banner h1, .page--mixins #banner h2 {
    color: #fff;
}
.page--mixins .alert> {color:#fff;}
    /* COW SPEAKS SEPARATOR */
    .page--mixins .cow-speak .speech-bubble {
        background-color: #4abefb;
        color: #fff;
        bottom:5rem;
        top:1rem;
        padding:2%;
        -webkit-transform: scale(1) rotate(60deg) translate(-10px,-10px);
        -moz-transform: scale(0) rotate(60deg) translate(-10px,-10px);
        -o-transform: scale(0) rotate(60deg) translate(-10px,-10px);
        -ms-transform: scale(0) rotate(60deg) translate(-10px,-10px);
        transform: scale(0) rotate(60deg) translate(-10px,-10px);
        position: absolute;
        bottom: 1rem;
        left: 65%;
        width: 145px;
        height: 145px;
        display: table;
        vertical-align: top;
        text-align: left;
        z-index: 1;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background-clip: padding-box;
        font-size: 1.6rem;
    }
    .speech-bubble>* {
        display: table-cell;
        padding: 0;
        font-weight: 500;
        text-align: center;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
        vertical-align:middle;
    }
    .speech-bubble span {}
    .speech-bubble:after {
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -12px;
        content: '';
        border-top: 25px solid transparent;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-top-color: #fb8a5f;
        border-top-color:#4abefb;
    }
    /* End of COW SPEAKS SEPARATOR */
    li ul li:before{ content:"-"; position:relative; left:-5px;}
    li ul li{ text-indent:-5px; list-style-type: none;}
